Source: ros-kinetic-rsm-additions
Section: misc
Priority: extra
Maintainer: Marco Steinbrink <marco.stb1993@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-move-base-msgs, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rsm-core, ros-kinetic-rsm-msgs, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-std-srvs, ros-kinetic-tf, ros-kinetic-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-rsm-additions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-geometry-msgs, ros-kinetic-move-base-msgs, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rsm-core, ros-kinetic-rsm-msgs, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-std-srvs, ros-kinetic-tf, ros-kinetic-visualization-msgs
Description: The rsm_additions package includes plugins for the Robot Statemachine and exemplary launch files
